.forma_Ikona {
    top:10vh;
    height: 75vh;
    width: 100%;

}

.polozaj_Ikona {
  position: absolute;
  top:40px;
  left: 30%;
}

.naslov_Odabir {
  padding:10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: rgb(13, 177, 241);
}

.polozaj_Chbx {
  position: absolute;
  margin: 35px;
  left: 60px;
}
